@model MainProject.Models.BookChappter

@{
    ViewData["Title"] = "Index";
    ViewData["H1"] = "Tạo sách mới";
    ViewData["Breadcrumb1"] = "Quản lý";
    ViewData["Breadcrumb2"] = "Tên sách";
    ViewData["Breadcrumb3"] = "Tạo mới";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Tạo mới</h3>
    </div>

    <form asp-action="Create" class="form-horizontal">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea  asp-for="Content" id="rtxBlogContent"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BookCategoryID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="BookCategoryID" class="form-control" asp-items="ViewBag.BookCategoryID"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="box-footer">
            <input type="submit" value="Tạo mới" class="btn btn-success pull-right" />
            <a asp-action="Index" class="btn btn-default pull-left">Quay lại</a>
        </div>
    </form>

    @section Scripts {
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script src="~/lib/ckeditor/adapters/jquery.js"></script>
        <script>
            $("#rtxBlogContent").ckeditor();
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
   
    </div>